@font-face {
  font-family: GT Walsheim Pro;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: local("GTWalsheimPro-Regular"), url(./fonts/GT-Walsheim-Pro-Regular.woff) format("woff");
}

@font-face {
  font-family: GT Walsheim Pro;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: local("GTWalsheimPro-Medium"), url(./fonts/GT-Walsheim-Pro-Medium.woff) format("woff");
}

@font-face {
  font-family: Space Mono;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: local("SpaceMono-Regular"), url(./fonts/SpaceMono-Regular.woff) format("woff");
}

@font-face {
  font-family: Space Mono;
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
  src: local("SpaceMono-Bold"), url(./fonts/SpaceMono-Bold.woff) format("woff");
}

:root {
  --light: #90b9f0;
  --dark: #2172e2;
  --shadow: #0d0d0d;
  --text: #5f6368;
  --text-btn: #2172e2;
  --background: #ffffff;
  --background-hover: #f8fafe;
  --border: #dadce0;
  --border-hover: #d3e3fa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 45rem;
  height: 10.4rem;
  margin: 1rem;
  background: var(--background);
  font-size: 1.4rem;
}

.root {
  margin: 1rem;
}

.password {
  border-bottom-right-radius: 0.25rem;
  border-bottom-style: solid;
  border-bottom-color: var(--text);
  padding-bottom: 0.25rem;
}

output#password {
  width: 32rem;
  border: 0;
  background: transparent;
  font-family: "Space Mono", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text);
}

button#refresh {
  appearance: none;
  background: transparent;
  border: 0;
  float: right;
}

button#refresh svg {
  width: 2rem;
  fill: var(--text);
}

.settings {
  margin-top: 1.2rem;
  font-family: "GT Walsheim Pro", sans-serif;
  font-weight: 400;
  color: var(--text);
}

.pwdLength {
  display: inline-flex;
  -webkit-box-orient: vertical;
  align-items: center;
}

.pwdLength label {
  display: inline-block;
  width: 9rem;
}

input#pwdLength[type="range"] {
  appearance: none;
  width: 20rem;
  height: 0.8rem;
  margin-left: 0.8rem;
  /*background: var(--background);*/
  border: 0.1rem solid var(--border);
  border-radius: 0.8rem;
  outline: none;
}

input#pwdLength[type="range"]:hover {
  /*background: var(--background-hover);*/
  border: 0.1rem solid var(--border-hover);
}

input#pwdLength[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--dark);
  border: none;
  box-shadow: 0 0 0.4rem var(--shadow);
  /*transition: background 0.15s ease-in-out;*/
}

/*
input#pwdLength[type="range"]::-webkit-slider-thumb:hover {
  background: var(--dark);
}
*/

.pwdWithSymbols {
  display: inline-flex;
  -webkit-box-orient: vertical;
  align-items: center;
  margin-left: 2rem;
}

.pwdWithSymbols label {
  display: inline-block;
  padding-left: 0.8rem;
}

input#pwdWithSymbols[type="checkbox"] {
  position: relative;
  cursor: pointer;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: var(--background);
  border: 0.1rem solid var(--border);
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
}

input#pwdWithSymbols[type="checkbox"]:hover {
  background: var(--background-hover);
  border: 0.1rem solid var(--border-hover);
}

input#pwdWithSymbols[type="checkbox"]:checked {
  background: var(--dark);
}

input#pwdWithSymbols[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background: var(--background);
}

input#pwdWithSymbols[type="checkbox"]:checked::before {
  transform: scale(1);
}

button#copy {
  float: right;
  margin-top: 1.4rem;
  width: 18rem;
  height: 3.2rem;
  background: var(--background);
  border: 0.1rem solid var(--border);
  border-radius: 1rem;
  font-family: "GT Walsheim Pro", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-btn);
}

button#copy:hover {
  background: var(--background-hover);
  border: 0.1rem solid var(--border-hover);
  color: var(--text-btn);
}
